@charset "UTF-8";

@font-face {
  font-family: "chatops";
  src:url("../fonts/chatops.eot");
  src:url("../fonts/chatops.eot?#iefix") format("embedded-opentype"),
    url("../fonts/chatops.woff") format("woff"),
    url("../fonts/chatops.ttf") format("truetype"),
    url("../fonts/chatops.svg#chatops") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chatops" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chatops" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slack:before {
  content: "b";
}
.icon-hipchat:before {
  content: "d";
}
.icon-flowdock:before {
  content: "c";
}
.icon-xmpp:before {
  content: "a";
}


body {
  background: #1e1e1e;
  color: #ccc;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #f4f4f4;
}
#header {
  border-top: 5px solid #ff8300;
  background: #000000 url(../images/logo.png) no-repeat 20px 20px;
  height: 70px;
  line-height: 70px;
  padding-left: 70px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  position: relative;
  color: #f4f4f4;
}
#stepcount {
  color: #757575;
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
}
#stepcount li {
  float: left;
  padding: 0 15px;
  color: #737373;
  line-height: 35px;
  font-size: 14px;
  border-bottom: 5px solid #737373;
  position: relative;
  list-style: none;
}
#stepcount li.active {
  border-color: #ff8300;
  color: #ff8300;
}
#stepcount li.past {
  border-color: #f4f4f4;
  color: #f4f4f4;
}
#stepcount li:before,
#stepcount li:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 5px;
  background: url(../images/crumb-begin.png);
  bottom: -5px;
  left: 0;
}
#stepcount li:after {
  left: auto;
  right: 0;
  background: url(../images/crumb-end.png);
}
.page {
  width: 960px;
  margin: auto;
}
.page h1,
#modal h1 {
  font-size: 32px;
  margin: 30px 0 20px;
}
.page h2,
#modal h2 {
  font-size: 24px;
  margin: 20px 0 10px;
}
.page label,
#modal label {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 4px;
}
.page label>input {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.page p,
#modal p {
  background-color: #252525;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  clear: both;
}
#chatops-tabs p {
  background-color: #1e1e1e;
}
input[type=text],
input[type=password] {
  width: 458px;
  height: 30px;
  padding: 0 0 0 10px;
  color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5) rgba(64, 64, 64, 0.3) rgba(108, 108, 108, 0.5);
  border-radius: 4px;
  outline: 0;
  background-color: #2e2e2e;
  margin-bottom: 10px;
  clear: both;
}
textarea {
  width: 448px;
  height: 150px;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5) rgba(64, 64, 64, 0.3) rgba(108, 108, 108, 0.5);
  border-radius: 4px;
  outline: 0;
  background-color: #2e2e2e;
  resize: none;
  margin-bottom: 10px;
}
.page fieldset#ssl div,
.page fieldset#ssh div {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  width: 470px;
}
.page fieldset#ssl div:last-child,
.page fieldset#ssh div:last-child {
  margin-right: 0;
}
#chatops-navigation {
  list-style: none;
  height: 103px;
  background: #000000;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid #ff8300;
}
#chatops-navigation li {
  float: left;
}
#chatops-navigation li a {
  position: relative;
  display: block;
  width: 60px;
  text-align: center;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #737373;
  font-size: 13px;
  text-decoration: none;
  padding: 55px 10px 6px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px;
}
#chatops-navigation li a:hover {
  color: #ff8300;
}
#chatops-navigation li a.active {
  color: #ff8300;
  border-color: #333;
  background-color: #292929;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#chatops-tabs {
  list-style: none;
}
#chatops-tabs li {
  background: #252525;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}
#chatops-tabs input[type=text],
#chatops-tabs input[type=password] {
  width: 438px;
}

.page {display:none;}
#chatops-tabs li {display:none;}
.page.active {display:block;}
#chatops-tabs li.active {display:block;}

#step-back {
  margin-right: 15px;
  display: none;
}
#next-button {
  height: 50px;
  width: 960px;
  margin: 20px auto;
}
#next-button p {
  float: right;
  clear: right;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Oswald;
  font-weight: 200;
}
#next-button a,
#modal-buttons a {
  float: right;
  font-family: Oswald;
  font-weight: 200;
  font-size: 14px;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  background-color: #ff8300;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#ssl,
#ssh {
  display: none;
}
p.hint,
#chatops-tabs p.hint {
  margin-bottom: 10px;
  margin-top: -5px;
  color: #888;
  background: transparent;
  width: 460px;
  font-size: 12px;
  padding: 0;
}
#chatops-navigation li a i {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0px;
  font-size: 40px;
}
#chatops-navigation li a i.icon-slack {
  bottom: 18px;
}
#chatops-navigation li a i.icon-xmpp {
  bottom: 25px;
}
#chatops-navigation li a i.icon-flowdock {
  bottom: 23px;
  left: -10px;
}
#chatops-navigation li a i.irc {
  bottom: 30px;
  margin-left: -2px;
  font-family: "Courier New", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -2px;
}
.page p.error,
#chatops-tabs p.error {
  margin: 0;
  background: transparent;
  float: right;
  width: 470px;
  padding: 0;
  font-size: 13px;
  color: #880000;
  margin-top: 7px;
}
#ssl+p.error,
#ssh+p.error {
  float: none;
  margin-top: 10px;
}
#chatops-tabs p+p.error {
  float: none;
  margin-top: -5px;
  margin-bottom: 15px;
}
label.required:after {
  content: '*';
  color: #ff8300;
  position: relative;
  left: 2px;
}
.page input[type=file] {

}
.page#page-final,
.page#page-puppet,
.page#page-static {
  display: block;
}

.page#page-static ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

.page#page-static p {
  background: none;
  padding-left: 0px;
  padding-right: 0px;
}

#output {
  border-radius: 0 0 5px 5px;
  height: 300px;
  overflow-x: auto;
  overflow-y: scroll;
  margin-bottom: 30px;
  background: #252525;
  padding: 10px;
}
#warning-count {
  background: black;
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  padding: 10px;
  clear: both;
}
#filtering {
  float: right;
  font-size: 14px;
  margin-top: -3px;
}
#filtering label {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}
#filtering input {
  top: -2px;
  margin-right: 3px;
}
#output-content {
  font-family: "Courier New", "Courier", sans-serif;
  font-size: 13px;
}
#show-important {
  margin-right: 3px;
}
#output-content p.output-warning {
  color: #aaaa33;
}
#output-content p.output-error {
  color: #aa3333;
}
#output-content p.done {
  color: #33aa33;
}
.important-only p.message {
  display: none;
}
.errors-only p.message,
.errors-only p.output-warning,
.errors-only p.output-important {
  display: none;
}
#output-content p {
  margin: 0;
  padding: 0;
}
#progressbar {
  background: white;
  height: 5px;
  position: relative;
}
#progressbar>span {
  height: 5px;
  background: #ff8300;
  display: block;
  transition: width 0.25s;
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  width: 0px;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 15px 15px;
  }
}
#page-puppet.progress #progressbar>span:after,
#page-puppet.progress #progressbar>span>span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .1) 50%,
    rgba(255, 255, 255, .1) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 15px 15px;
  animation: move 1s linear infinite;
  overflow: hidden;
}
#puppet-done {
  background-color: #252525;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  clear: both;
  background: none;
  display: none;
}
#puppet-done p {
  padding: 0;
  margin-bottom: 10px;
  background: none;
}
#puppet-done ul {
  margin-left: 20px;
}
#puppet-done #next-button,
#page-static #next-button {
  text-align: center;
  margin-bottom: 20px;
}
#puppet-done #next-button a,
#page-static #next-button a {
  float: none;
  margin: 0 auto;
}

#modal-overflow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  background: rgba(0,0,0,0.8);
  display: none;
}
#modal {
  width: 470px;
  padding: 20px;
  margin: 0 auto;
  background: #1e1e1e;
  border-radius: 5px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -255px;
}
#modal #keypair {
  display: none;
}
#modal h3 {
  background: #ff8300;
  color: white;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}
#modal textarea {
  height: 100px;
  padding: 5px;
  width: 458px;
}

#modal-buttons {
  height: 50px;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 10px;
}

#modal-buttons a {
  display: inline-block;
  float: none;
  margin: 0 10px;
}

label[for="check-anon-data"] {
  margin-top: 20px;
}
label[for="check-chatops"] {
  margin: 30px 0 20px;
}
#header a {
  text-decoration: none;
}

#page-static.page-byob span {
  padding: 3px 8px;
  font-family: monospace;
  background: #252525;
  border-radius: 5px;
}
#page-static.page-byob pre {
  font-family: monospace;
  background: #252525;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#keypair a {
  margin-top: -17px;
  display: block;
  float: right;
  margin-right: 10px;
  font-family: Oswald;
  font-weight: 200;
  font-size: 10px;
  position: relative;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  outline: 0;
  background-color: #ff8300;
  margin-bottom: 5px;
  text-decoration: none;
}
#keypair label {
  clear: both;
}
#modal-buttons {
  clear: both;
}

#rootca-warning {
  display: none;
  background-color: #252525;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  clear: both;
  position: relative;
  margin-top: 40px;
  padding-bottom: 15px;
}
#rootca-warning h4 {
  color: white;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 5px;
}
#rootca-warning ul {
  margin-top: 5px;
  margin-bottom: 20px;
}
#rootca-warning i {
  color: white;
  font-size: 20px;
  margin-right: 5px;
}
#rootca-warning p {
  padding: 0;
  margin: 0;
}
