<%inherit file="layout.html"/>

<%block name="stepcount"/>

<div class="page page-byob" id="page-static">

  <h1>Bring your own bot</h1>
  
  <p>Normally, StackStorm configures a Hubot instance for you. If you want to use your your existing Hubot with StackStorm, you'll have to install a <span>hubot-stackstorm</span> package from NPM:</p>

  <pre>
  npm install hubot-stackstorm</pre>

  <p>After that, edit the <span>external-scripts.json</span> file in your bot directory and make sure it contains <span>hubot-stackstorm</span> entry.</p>

  <pre>
  [
    ...
    "hubot-stackstorm"
  ]</pre>

  <p>Then add the environment variables to your init scripts for Hubot, or to your Heroku build instance.</p>

  <p>Bash:</p>
  <pre>
  ST2_API=https://${hostname}:9101
  ST2_WEBUI_URL=https://${hostname}
  ST2_AUTH_USERNAME=chatops_bot
  ST2_AUTH_PASSWORD=${password}
  ST2_AUTH_URL=https://${hostname}:9100
  EXPRESS_PORT=8081

  export ST2_API ST2_WEBUI_URL ST2_AUTH_USERNAME ST2_AUTH_PASSWORD ST2_AUTH_URL EXPRESS_PORT</pre>

  <p>Heroku (from your <span>hubot</span> project directory):</p>
  <pre>
  heroku config:set EXPRESS_PORT=8081
  heroku config:set ST2_API=https://${hostname}:9101
  heroku config:set ST2_WEBUI_URL=https://${hostname}
  heroku config:set ST2_AUTH_USERNAME=chatops_bot
  heroku config:set ST2_AUTH_PASSWORD=${password}
  heroku config:set ST2_AUTH_URL=https://${hostname}:9100</pre>

  <p>You're all set! If you have any trouble, take a look at the full <a href="https://github.com/stackstorm/hubot-stackstorm#installing-and-configuring-the-plugin">hubot-stackstorm manual</a>.</p>
  
</div>
