<%inherit file="layout.html"/>

<form id="installer" method="POST" action="." enctype="multipart/form-data">
  <div class="page" id="page-hostname">
    <h1>Configure Hostname and SSL</h1>
    <p>Please enter the system hostname you would like to use to identify this installation of StackStorm.</p>
    <fieldset>
      <label for="text-hostname" class="required">Hostname</label>
      <input type="hidden" name="hubot-password" id="hubot-password" value="${hubotpassword}" />
      <input type="text" id="text-hostname" name="hostname" value="${hostname}" />
      <p class="hint">FQDN of host.</p>
    </fieldset>

    <label for="check-anon-data"><input id="check-anon-data" type="checkbox" name="anon-data" value="1">Allow sending anonymous usage reports</label>
    <p class="hint">Sending usage data from your instance will help StackStorm grow into a better product. All reports are fully anonymous and conform to our strict <a href="http://stackstorm.com/privacy-policy/" target="_blank">privacy policy</a>.</p>

    <h2>SSL keys</h2>
    <p>StackStorm has generated and configured a self-signed SSL certificate for use. If you would like to provide your own certificate, you can upload it here.</p>
    <fieldset id="ssl-enable">
      <label for="radio-selfsigned-true"><input id="radio-selfsigned-true" type="radio" name="selfsigned" value="1" checked="checked">Continue with self-signed</label>
      <label for="radio-selfsigned-false"><input id="radio-selfsigned-false" type="radio" name="selfsigned" value="0">Upload SSL certificate</label>
    </fieldset>
    <fieldset id="ssl">
      <div>
        <label for="file-publickey" class="required">PEM certificate</label>
        <input type="file" name="file-publickey" id="file-publickey" />
      </div>
      <div>
        <label for="file-privatekey" class="required">Private key (must not be password protected)</label>
        <input type="file" name="file-privatekey" id="file-privatekey" />
      </div>
    </fieldset>

  </div>
  <div class="page" id="page-accounts">
    <h1>Setup user accounts</h1>
    <h2>Setup admin account</h2>
    <p>This installer will create the first user account on the system. This account will be an Administrator account, and can be used to remotely log into the StackStorm server via SSH and StackStorm WebUI. Enter a username and password below for this account.</p>
    <fieldset>
      <label for="text-admin-username" class="required">Username</label>
      <input type="text" id="text-admin-username" name="admin-username" value="admin" />
      <label for="text-password-1" class="required">Password</label>
      <input type="password" id="text-password-1" name="password-1" />
      <p class="hint">8+ alphanumeric characters, at least one digit and one letter is required.</p>
      <label for="text-password-2" class="required">Confirm</label>
      <input type="password" id="text-password-2" name="password-2" />
    </fieldset>
    <h2>Configure SSH account</h2>
    <p>StackStorm utilizes a SSH runner to log into remote systems to perform remote actions. Enter the username for this account. This account should be configured in your environment, and optionally have "sudo" access. In addition, you can supply SSH keys, or we'll automatically generate a keypair for you.</p>
    <fieldset>
      <label for="text-username" class="required">Username</label>
      <input type="text" id="text-username" name="username" value="stanley" />
    </fieldset>
    <fieldset id="ssh-enable">
        <label for="radio-sshgen-true"><input id="radio-sshgen-true" type="radio" name="sshgen" value="1" checked="checked">Generate a new SSH key pair for the account</label>
        <label for="radio-sshgen-false"><input id="radio-sshgen-false" type="radio" name="sshgen" value="0">Use an existing key pair</label>
      </fieldset>
      <fieldset id="ssh">
        <div>
          <label for="file-ssh-publickey" class="required">Public key</label>
          <input type="file" name="file-ssh-publickey" id="file-ssh-publickey" />
        </div>
        <div>
          <label for="file-ssh-privatekey" class="required">Private key (must not be password protected)</label>
          <input type="file" name="file-ssh-privatekey" id="file-ssh-privatekey" />
        </div>
      </fieldset>
  </div>
  <div class="page" id="page-chatops">
    <h1>Configure ChatOps</h1>
    <p>ChatOps integration is a core feature of StackStorm, allowing users to collaborate and work more effectively by executing actions in a chat room. Pick a service below: StackStorm can either connect to an existing chat service or set up a test service for you.</p>

    <p>You can also <a id="byob-link" href="./byob" target="_blank">configure your existing Hubot instance</a> to work with StackStorm.</p>

    <p>Is your chat provider/protocol not listed here, and you'd like to see it? Drop us a line at <a href="mailto:support@stackstorm.com">support@stackstorm.com</a> and let us know!</p>

    <label for="check-chatops"><input id="check-chatops" type="checkbox" name="check-chatops" value="1" checked="checked">Enable ChatOps</label>

    <ul id="chatops-navigation">
      <li><a href="#tab-slack"><i class="icon-slack"></i> Slack</a></li>
      <li><a href="#tab-hipchat"><i class="icon-hipchat"></i> HipChat</a></li>
      <li><a href="#tab-xmpp"><i class="icon-xmpp"></i>XMPP</a></li>
      <li><a href="#tab-irc"><i class="irc">#irc</i>IRC</a></li>
      <li><a href="#tab-flowdock"><i class="icon-flowdock"></i>Flowdock</a></li>
      <li><a href="#tab-example"><i class="irc">#st2</i>Local IRC</a></li>
    </ul>
    <input type="hidden" id="chatops-flag" name="chatops" value="" />
    <ul id="chatops-tabs">
      <li id="tab-slack">
        <p>Integration with an existing <a href="http://slack.com" target="_blank">Slack</a> team.</p>
        <label for="text-slack-token" class="required">Slack API token</label>
        <input type="text" id="text-slack-token" name="slack-token" />
      </li>
      <li id="tab-hipchat">
        <p>Integration with an existing <a href="https://www.hipchat.com" target="_blank">HipChat</a> team (including HipChat Server).</p>
        <label for="text-hipchat-jid" class="required">HipChat JID</label>
        <input type="text" id="text-hipchat-jid" name="hipchat-jid">
        <label for="text-hipchat-password" class="required">HipChat password</label>
        <input type="password" id="text-hipchat-password" name="hipchat-password">
        <label for="text-hipchat-domain">HipChat Server domain</label>
        <input type="text" id="text-hipchat-domain" name="text-hipchat-domain">
        <p class="hint">Only if using self-hosted HipChat Server.</p>
      </li>
      <li id="tab-xmpp">
        <p>Connect to a room or multiple rooms of an XMPP server.</p>
        <label for="text-xmpp-username" class="required">Username</label>
        <input type="text" id="text-xmpp-username" name="xmpp-username">
        <label for="text-xmpp-password" class="required">Password</label>
        <input type="password" id="text-xmpp-password" name="xmpp-password">
        <label for="text-xmpp-rooms" class="required">Rooms</label>
        <input type="text" id="text-xmpp-rooms" name="xmpp-rooms">
        <p class="hint">A comma-separated list.</p>
        <label for="text-xmpp-host">Host</label>
        <input type="text" id="text-xmpp-host" name="xmpp-host">
        <p class="hint">If different from the username JID host.</p>
        <label for="text-xmpp-port">Port</label>
        <input type="text" id="text-xmpp-port" name="xmpp-port">
        <p class="hint">If different from the default.</p>
      </li>
      <li id="tab-irc">
        <p>Connect to a room or multiple rooms of an IRC server.</p>
        <label for="text-irc-nick" class="required">IRC Nickname</label>
        <input type="text" id="text-irc-nick" name="irc-nick">
        <label for="text-irc-server" class="required">Server</label>
        <input type="text" id="text-irc-server" name="irc-server">
        <label for="text-irc-rooms" class="required">Rooms</label>
        <input type="text" id="text-irc-rooms" name="irc-rooms">
        <p class="hint">A comma-separated list.</p>
        <label for="text-irc-password">Password</label>
        <input type="text" id="text-irc-password" name="irc-password">
        <label for="text-irc-port">Port</label>
        <input type="text" id="text-irc-port" name="irc-port">
        <label for="text-irc-nickserv-username">NICKSERV username</label>
        <input type="text" id="text-irc-nicserv-username" name="irc-nickserv-username">
        <label for="text-irc-nickserv-password">NICKSERV password</label>
        <input type="text" id="text-irc-nicserv-password" name="irc-nickserv-password">
        <label for="text-irc-usessl">Connect using SSL</label>
        <input type="checkbox" id="checkbox-irc-usessl" name="irc-usessl">
        <label for="text-irc-server-fake-ssl">Ignore insecure SSL certificates?</label>
        <input type="checkbox" id="checkbox-irc-server-fake-ssl" name="irc-server-fake-ssl">
        <label for="text-irc-unflood">Enable IRC Flood Protection</label>
        <input type="checkbox" id="checkbox-irc-undflood" name="irc-unflood">
      </li>
      <li id="tab-flowdock">
        <p>Integration with an existing <a href="https://www.flowdock.com" target="_blank">Flowdock</a> team.</p>
        <label for="text-flowdock-token" class="required">API token</label>
        <input type="text" id="text-flowdock-token" name="flowdock-token">
        <label for="text-flowdock-email" class="required">Login e-mail</label>
        <input type="text" id="text-flowdock-email" name="flowdock-email">
        <label for="text-flowdock-password" class="required">Password</label>
        <input type="password" id="text-flowdock-password" name="flowdock-password">
      </li>
      <li id="tab-example">
        <p>Local IRC server set up for working with ChatOps. You'll be able to connect with this server's FQDN and #stackstorm as the name of the channel. No configuration necessary.</p>
      </li>
    </ul>
  </div>
  <div id="next-button">
    <a href="#" id="step-next">Next</a>
    <a href="#" id="step-back">Back</a>
    <p>Step <span id="current-step"></span> of <span id="total-steps"></span></p>
  </div>
  <input type="hidden" name="gen-private" id="gen-private" value=""/>
  <input type="hidden" name="gen-public" id="gen-public" value=""/>
  <input type="hidden" name="comparison" id="hidden-comparison" value=""/>
</form>
<iframe style="display:none" id="keypair-frame" name="keypair-frame"></iframe>
