<%inherit file="layout.html"/>

<%block name="stepcount"/>

<div class="page" id="page-puppet">
  <h1>Installation</h1>
  <p>StackStorm is preparing for the first launch! Installation will take a few more minutes.</p>
  % if keyfallback == 'fallback':
    <p>SSH keys are not valid, reverting to a self-signed certificate.</p>
  % endif
  <div id="warning-count">
    <span id="warnings">0</span> warning<span id="warnings-plural">s</span>, <span id="errors">0</span> error<span id="errors-plural">s</span>.
    <div id="filtering">
      <label><input type="radio" name="output-filter" value="all" checked="checked"> Full output</label>
      <label><input type="radio" name="output-filter" value="important"> Important messages</label>
      <label><input type="radio" name="output-filter" value="errors"> Errors only</label>
    </div>
  </div>
  <div id="progressbar">
    <span><span></span></span>
  </div>
  <div id="output">
    <div id="output-content">
      
    </div>
  </div>
  <div id="puppet-done">
    <p>Installation completed; StackStorm is ready to launch! Review the documentation before you start:</p>
    <ul>
      <li><a href="http://stackstorm.com" target="_blank">Main website</a></li>
      <li><a href="https://github.com/StackStorm" target="_blank">Github</a></li>
      <li><a href="https://www.youtube.com/channel/UCColc5CuBJ8-1SnALnkDz8Q" target="_blank">YouTube channel</a></li>
      <li><a href="http://stackstorm.com/blog" target="_blank">Blog</a></li>
    </ul>
    <div id="next-button">
      <a href="http://google.com" id="step-next">Open StackStorm</a>
    </div>
  </div>
</div>